# MySQL Assignment - 16th February

**Data Science Masters**

Instructor: Govind Verma
Contributor: Vishakha

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Your answer here...

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Your answer here...

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Your answer here...

## Q4. What is DQL? Explain SELECT with an example.

Your answer here...

## Q5. Explain Primary Key and Foreign Key.

Your answer here...

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# Your solution here

## Q7. Give the order of execution of SQL clauses in an SQL query.

Your answer here...